#app
    width: 430px
    border: 1px solid #fff
    border-radius: 5px
    margin: 0 auto
    margin-top: 60px
    padding: 20px 50px 20px 35px
    background: #fff
    display: flex
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    position: relative
// Time , date and currency
#time_date
    max-width: 135px
.time_output
    font-size: 30px
    font-weight: bold
    margin-top: $margin-bottom
.timezone
    font-size: 20px
    font-family: $fonts-text
    margin-bottom: $margin-bottom
.curr_date
    font-size: 15px
    margin-bottom: 25px
#currency
    display: flex
    column-gap: 15px
    p
        color: green
    span
        font-size: 20px
        margin-right: 5px
        color: #000
// weather
#weather
    margin-top: -23px
    text-align: center
    width: 160px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
.weather_icon
    width: 80px
    height: 80px
.weather_degrees
    font-size: 25px
    margin-bottom: 5px
    font-weight: bold
.weather_word
    font-family: $fonts-text
    font-size: 25px
    margin-bottom: 5px
.weather_description
    font-family: $fonts-text
    font-size: 12px
    font-style: italic
// change language 
.change_lang
    position: absolute
    right: 8px
    top: 15px
    outline: none
    border-radius: 5px
